<!-- <div class="col-6 input-group mb-2">
  <input type="text" class="form-control mr-2" placeholder="File Name" [(ngModel)]="destinationFileModel.fileName">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="merge()">Merge</button>
  </span>
</div> -->
<ng-container *ngIf="destinationFileModel"></ng-container>
<div class="col-12 mb-2 text-center">
  <button class="btn btn-primary" (click)="swap()" type="button">Swap Documents</button>
</div>
<div class="col-12">
  <div class="col-6 float-left">Merge from {{sourceFileModel.fileName}}</div>
  <div class="col-6 float-left">
      <div class="col-2 float-left" style="white-space: nowrap;display: inline-flex;">Merge to</div>
    <div class="col-5 float-left" style="white-space: nowrap;display: inline-flex;">
       
      <input type="text" class="form-control mr-2" placeholder="File Name" [(ngModel)]="destinationFileModel.fileName">
    </div>
    <div class="col-5 float-left">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="merge()">Merge</button>
      </span>
      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="autoMerge()">Auto merge</button>
        </span>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="col-6" id="sourceContainer" (drop)="dropped($event)"></div>
  <div class="col-6" id="destContainer" (drop)="dropped($event)"></div>
</div>