<div class="col-6 input-group mb-2">
  <input type="text" class="form-control mr-2" placeholder="File Name" [(ngModel)]="fileName">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="merge()">Merge</button>
  </span>
</div>
<div class="col-12 mb-2 text-center">
  <button class="btn btn-primary" (click)="swap()" type="button">Swap Documents</button>
</div>
<div class="col-6 float-left">
  {{sourceName}}
  <!--<div [ngxSummernote]="configuration" [(summernoteModel)]="_sourceHtmlContent"></div>-->
</div>
<div class="col-6 float-right">
  {{destinationName}}
  <div [ngxSummernote]="configuration" [(summernoteModel)]="_destinationHtmlContent"></div>
</div>
