; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/31/2019.
; begin auth token
//wkaxcess.pkgs.visualstudio.com/_packaging/Axcess.Npm/npm/registry/:username=Axcess.Npm
//wkaxcess.pkgs.visualstudio.com/_packaging/Axcess.Npm/npm/registry/:_password=NXFxZGVvNnl5Y2o3aHdodjRhbmVjZ3gzdXlkd2VweWdqbGV4NnZhb2NsaWU3bTR1NHRocQ==
//wkaxcess.pkgs.visualstudio.com/_packaging/Axcess.Npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//wkaxcess.pkgs.visualstudio.com/_packaging/Axcess.Npm/npm/:username=Axcess.Npm
//wkaxcess.pkgs.visualstudio.com/_packaging/Axcess.Npm/npm/:_password=NXFxZGVvNnl5Y2o3aHdodjRhbmVjZ3gzdXlkd2VweWdqbGV4NnZhb2NsaWU3bTR1NHRocQ==
//wkaxcess.pkgs.visualstudio.com/_packaging/Axcess.Npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token